.navbar-brand{background-color: #60cf4a2c;
  color: rgb(57, 56, 136);
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;

float: left;
}

 .p{position: relative;
font-size: 15px;
color:rgb(57, 56, 136) ; top: 35px; float: left;}


  .table{background-color: rgba(57, 56, 136, 0.363);
font-size: 40px;

top: 100px;}


 

  .codelink{background-color: transparent;
  padding: -10%;} 

  .w3link{background-color: transparent;
    padding: -10%;}
   .title{position: absolute};

   .techimg{padding-top: 15%;
  margin-top: 80%;}

  .gitlink{background-color: transparent;
  padding: 0%;}

.googlelink  {background-color: transparent;
    padding: 0%;}
  
  .class{font-size: 100px;}

  .bootstrap{background-color: transparent;
    padding: 10%;}

    .bootlink{background-color: transparent;
      padding: 10%;}
    
    .captionres{font-size: 30px ;
    font-style: italic;
  color: rgb(39, 64, 110);}