.navbar-brand{
  background-color: #60cf4a2c;
  color: rgb(57, 56, 136);
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
float: left;
}

 .pdiv{display: block; float: left;
font-size: 15px;
color:rgb(57, 56, 136) ; top: 150px; float: left;
width: 50%;
line-break: auto;}


  .table{background-color: rgba(57, 56, 136, 0.363);
font-size: 40px;

top: 100px;}

.bkgrd {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100% 50%;
  opacity:0.3;
  z-index: 1;}

 

  .codelink{background-color: transparent;
  padding: -10%;} 

  .w3link{background-color: transparent;
    padding: -10%;}
   .title{position: absolute};

   .techimg{padding-top: 15%;
  margin-top: 80%;}

  .gitlink{background-color: transparent;
  padding: 0%;}

.googlelink  {background-color: transparent;
    padding: 0%;}
  
  .class{font-size: 100px;}

  .bootstrap{background-color: transparent;
    padding: 10%;}

    .bootlink{background-color: transparent;
      padding: 10%;}
    
    .captionres{font-size: 30px ;
    font-style: italic;
  color: rgb(39, 64, 110);}

 .pdiv{display:block;text-align: center;
width: 500px;height: 100px;
font-size: 17px;
}


.bodyback{background-color: rgba(130, 158, 147, 0.336);}

.buttonstart{background-color: seagreen;
background-position: center;}

.glow {margin-top: 60px;
  padding-top: 60px;
  display: block;
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #26294e, 0 0 40px #26294e, 0 0 50px #26294e, 0 0 60px  #7075c7, 0 0 70px #7075c7;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1d531d, 0 0 40px #1d531d, 0 0 50px#3beb3b, 0 0 60px #3beb3b, 0 0 70px #1d531d, 0 0 80px #1d531d;}
  }
    .ptips{display:block;text-align: center;
      width: 500px;height: 100px;
      font-size: 28px; color:rgb(57, 56, 136) ;
      }

      .iframe{padding: 100px 200px 100px 50px;}

      .homejava{background-color: rgb(13, 255, 118);}

      .buttonpara{color: rgb(15, 43, 66);}